<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joanneumprojekt">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.hardware.camera2.full" />

    <application
        android:name=".SignUP.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JoanneumProjekt">
        <activity
            android:name=".After_Login.show_delete_bill"
            android:exported="false" />
        <activity
            android:name=".Pictures.GetPictures"
            android:exported="false" />
        <activity
            android:name=".Display_Interface.show_add_bill"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Display_Interface.activity_showdata"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".After_Login.activity_camera"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Display_Interface.Toolbar"
            android:exported="false" />
        <activity
            android:name=".Display_Interface.New_Bill"
            android:exported="false" />
        <activity
            android:name=".Display_Interface.Navigation_Drawer"
            android:exported="false" />
        <activity
            android:name=".After_Login.Main"
            android:exported="false" />
        <activity
            android:name=".Delete_Bill.activity_admin_delete_user"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SignUP.Login_Interface"
            android:exported="false" />
        <activity
            android:name=".SignUP.Login"
            android:exported="false" />
        <activity
            android:name=".SignUP.SignUp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>